# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tilexpharmacy"

# JWT
JWT_SECRET="tilexpharmacy-jwt-secret-change-in-production-2026"
JWT_REFRESH_SECRET="tilexpharmacy-refresh-secret-change-in-production-2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Server
PORT=5000
NODE_ENV=development

# CORS
CLIENT_URL=http://localhost:5173
